<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <main class="mainLanding">
    <div class="mainLanding__container">
      <h1 class="mainLanding__container__title">Proyectos Molones</h1>
      <p class="mainLanding__container__subtitle">
        Escaparate en línea para recoger ideas a través de la tecnología.
      </p>
    </div>

    <section class="mainLanding__sectionCard">
      <img class="preview__image" src="<%= image %>" alt="Foto de la
          tarjeta">
      <article class="preview__autor">
        <div class="preview__autor__info-project">
          <p class="preview__autor__info-project--subtitle">
            Proyectos Molones
          </p>
          <h2 class="preview__autor__info-project--title">
            <%= name %>
          </h2>
          <p class="preview__autor__info-project--slogan">
            <%= slogan %>
          </p>
          <p class="preview__autor__info-project--desc">
            <%= desc %>
          </p>
          <div class="preview__autor__info-project--technologies">
            <p class="preview__autor__info-project--technologies--text">
              <%= technologies %>
            </p>
          </div>
          <div class="preview__autor__info-project--icons">
            <a class="cardLink" href="<%= repo %>" target="_blank">
              <i class="fa-brands fa-github-alt"></i>
            </a>
            <a class="cardLink" href="<%= demo %>" target="_blank">
              <i class="fa-solid fa-globe"></i>
            </a>
          </div>
        </div>

        <div class="preview__autor__info-autor">
          <img class="preview__autor__info-autor--image" src="<%= photo %>" alt="autor-image">

          <p class="preview__autor__info-autor--job">
            <%= job %>
          </p>
          <p class="preview__autor__info-autor--name">
            <%= autor %>
          </p>
        </div>
      </article>
    </section>
  </main>
</body>

</html>